<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar> 
    </div>
    <p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a href="produto/novo" class="btn btn-primary">Novo Produto</a>
                    </span>
                    <input ng-model="filtro" ng-model-options="{debounce: 500}"
                    class="form-control" placeholder="filtrar">
                </div>
            </form>
        </div> <!-- fim col-md-12 !-->
    </div> <!-- fim row !-->
    <hr>
    <div class="row"> <!--| orderBy:'rank'!-->
        <div class="col-sm-6 col-md-4 filtro" ng-repeat="produto in produtos | filter: filtro">
            <div class="thumbnail">
                <img class="pull-right" ng-src="{{produto.imagem}}" alt="">
                <div class="caption">
                    <h3>{{produto.nome}}</h3>
                    <p>{{produto.descricao}}</p>
                    <p>{{produto.valor | currency: 'R$ '}}</p>
                    <a href="/produto/editar/{{produto._id}}" class="btn btn-primary">Editar</a>
                    <button ng-click="remover(produto)" class="btn btn-danger">Remover</button>
                </div>
            </div>
        </div>
    </div><!-- fim row !-->
</div>
    